<link rel="stylesheet" href="/css/admin/form.css">

<main>
    {{>_message}}
    <div class="form-body">
        <h2>Música</h2>
        <form action="/admin/addMusica" method="post" enctype="multipart/form-data">
            <input type="text" name="nome" id="nome" class="form-input" placeholder="Nome da Música">

            <select name="autor" id="autor" class="form-input">
                {{#each autor}}
                <option value="{{id}}">{{nome}}</option>
                {{/each}}
            </select>
            
            <select name="genero" id="genero" class="form-input">
                {{#each genero}}
                <option value="{{id}}">{{nome}}</option>
                {{/each}}
            </select>
            
            <select name="instrumento" id="instrumento" class="form-input">
                {{#each instrumento}}
                <option value="{{id}}">{{nome}}</option>
                {{/each}}
            </select>

            {{!-- Arquivos --}}
            <label for="file-PNG" class="form-file" id="form-PNG">PNG</label>
            <label for="file-PDF" class="form-file" id="form-PDF">PDF</label>
            <label for="file-MXL" class="form-file" id="form-MXL">MXL</label>
            <label for="file-MP3" class="form-file" id="form-MP3">MP3</label>

            <input type="file" name="file-PNG" id="file-PNG" class="form-file-hidden">
            <input type="file" name="file-PDF" id="file-PDF" class="form-file-hidden">
            <input type="file" name="file-MXL" id="file-MXL" class="form-file-hidden">
            <input type="file" name="file-MP3" id="file-MP3" class="form-file-hidden">

            <input type="submit" value="Cadastrar" class="form-submit">
        </form>
    </div>
</main>
