<link rel="stylesheet" href="/css/admin/form.css">

<main>
    {{>_message}}
    <div class="form-body">
        <h2>Música</h2>
        <form action="/admin/editMusica" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{musica.id}}">
            <input type="text" name="nome" id="nome" class="form-input" placeholder="Nome da Música" value="{{musica.nome}}">

            <select name="autor" id="autor" class="form-input">
                {{#each autor}}
                <option value="{{id}}" {{#if selected}} selected {{/if}}>{{nome}}</option>
                {{/each}}
            </select>
            
            <select name="genero" id="genero" class="form-input">
                {{#each genero}}
                <option value="{{id}}" {{#if selected}} selected {{/if}}>{{nome}}</option>
                {{/each}}
            </select>
            
            <select name="instrumento" id="instrumento" class="form-input">
                {{#each instrumento}}
                <option value="{{id}}" {{#if selected}} selected {{/if}}>{{nome}}</option>
                {{/each}}
            </select>
            {{!-- Arquivos Antigos --}}
            <input type="hidden" name="pathPNG" value="{{musica.pathPNG}}">
            <input type="hidden" name="pathPDF" value="{{musica.pathPDF}}">
            <input type="hidden" name="pathMXL" value="{{musica.pathMXL}}">
            <input type="hidden" name="pathMP3" value="{{musica.pathMP3}}">
            
            {{!-- Arquivos --}}
            <label for="file-PNG" class="form-file" id="form-PNG">PNG</label>
            <label for="file-PDF" class="form-file" id="form-PDF">PDF</label>
            <label for="file-MXL" class="form-file" id="form-MXL">MXL</label>
            <label for="file-MP3" class="form-file" id="form-MP3">MP3</label>

            <input type="file" name="file-PNG" id="file-PNG" class="form-file-hidden">
            <input type="file" name="file-PDF" id="file-PDF" class="form-file-hidden">
            <input type="file" name="file-MXL" id="file-MXL" class="form-file-hidden">
            <input type="file" name="file-MP3" id="file-MP3" class="form-file-hidden">

            <input type="submit" value="Atualizar" class="form-submit">
            <input type="button" value="Deletar" class="form-submit danger" onclick="location.href = '/admin/confirmDelMusica/{{musica.id}}'">
            <input type="button" value="Voltar" class="form-submit" onclick="location.href = '/admin'">
        </form>
    </div>
</main>
