<link rel="stylesheet" href="/css/partials/partituras.css">
<h2>Músicas</h2>

{{#each instrumentos}}
{{#if temMusica}}
<h3>{{nomeExibicao}}</h3>
<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.secao{{id}}')[0].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.secao{{id}}')[0].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>

<div class="musicas secao{{id}}">
    {{#each musicas}}
    <a href="/partitura/{{id}}">
        <div class="card">
            <img src="/server-files/musicas/{{pathPNG}}" alt="Partitura" loading="lazy">
            <p>{{nome}}</p>
        </div>
    </a>
    {{/each}}
</div>
{{/if}}
{{/each}}
