<link rel="stylesheet" href="/css/admin/index.css">

<main>
    {{>_message}}
    <section>
        <div class="musicas-titulo">
            <h2>Total Músicas</h2>
            <h2>Total Partituras</h2>
        </div>
    
        <form action="#" method="post">
            <input type="search" name="psq" placeholder="Pesquise uma Música">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Instrumento</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each musicas}}
                <tr onclick="location.href='/admin/musica/{{id}}'">
                    <td>{{nome}}</td>
                    <td>{{instrumento.nome}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Autores</h2>
    
        <form action="#" method="post">
            <input type="search" name="psq1" placeholder="Pesquise um Autor">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Foto</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each autores}}
                <tr onclick="location.href='/admin/autor/{{id}}'">
                    <td>{{nome}}</td>
                    <td class="td-img"><img src="/server-files/autores/{{pathFoto}}" alt=""></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Generos</h2>
    
        <form action="#" method="post">
            <input type="search" name="psq2" placeholder="Pesquise um Genero">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each generos}}
                <tr onclick="location.href='/admin/genero/{{id}}'">
                    <td>{{id}}</td>
                    <td>{{nome}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Instrumentos</h2>
    
        <form action="#" method="post">
            <input type="search" name="psq2" placeholder="Pesquise um Instrumento">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome de Exibição</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each instrumentos}}
                <tr onclick="location.href='/admin/instrumento/{{id}}'">
                    <td>{{nome}}</td>
                    <td>{{nomeExibicao}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</main>