<link rel="stylesheet" href="/css/admin/index.css">

<main>
    {{>_message}}
    <section>
        <div class="musicas-titulo">
            <h2>Total Músicas</h2>
            <h2>Total Partituras</h2>
        </div>
    
        <form action="/admin/psq" method="get">
            <input type="search" name="psq" placeholder="Pesquise uma Música">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Instrumento</th>
                    <th>Views</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each musicas}}
                <tr onclick="location.href='/admin/musica/{{id}}'">
                    <td>{{nome}}</td>
                    <td>{{instrumento.nome}}</td>
                    <td>{{views}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Autores</h2>
    
        <form action="/admin/psq" method="get">
            <input type="search" name="psq" placeholder="Pesquise um Autor">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each autores}}
                <tr onclick="location.href='/admin/autor/{{id}}'">
                    <td class="td-img"><img src="/server-files/autores/{{pathFoto}}" alt=""></td>
                    <td>{{nome}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Generos</h2>
    
        <form action="/admin/psq" method="get">
            <input type="search" name="psq" placeholder="Pesquise um Genero">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each generos}}
                <tr onclick="location.href='/admin/genero/{{id}}'">
                    <td>{{id}}</td>
                    <td>{{nome}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Instrumentos</h2>
    
        <form action="/admin/psq" method="get">
            <input type="search" name="psq" placeholder="Pesquise um Instrumento">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome de Exibição</th>
                    <th>Func</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each instrumentos}}
                <tr>
                    <td onclick="location.href='/admin/instrumento/{{id}}'">{{nome}}</td>
                    <td onclick="location.href='/admin/instrumento/{{id}}'">{{nomeExibicao}}</td>
                    <td>
                        <button onclick="location.href = '/admin/trocaOrdem/{{id}}/up'"><img src="/imagens/icons/arrow_up.png" alt=""></button>
                        <button onclick="location.href = '/admin/trocaOrdem/{{id}}/down'"><img src="/imagens/icons/arrow_down.png" alt=""></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <section>
        <h2>Iframes</h2>
    
        <form action="/admin/psq" method="get">
            <input type="search" name="psq" placeholder="Pesquise um Iframe">
            <button type="submit"></button>
        </form>
    
        <table>
            <thead>
                <tr>
                    <th>Usúario</th>
                    <th>Música</th>
                    <th>Instrumento</th>
                    <th>Status</th>
                </tr>
            </thead>
    
            <tbody>
                {{#each iframes}}
                <tr onclick="location.href='/admin/view/{{UUID}}'">
                    <td>{{usuario.nome}}</td>
                    <td>{{musica.nome}}</td>
                    <td>{{instrumento.nome}}</td>
                    <td>{{status}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</main>